<header>
   <div class="container">
      <a routerLink="/" class="logo">Campaign Manager</a>

      <nav>
         <ul>
            <li> <a routerLink="/login" > Login </a> </li>

            <li class="menu-container">
               <a routerLink="/dashboard"> Solturne </a>
               <div class="menu">
                  <a routerLink=""> Perfil </a>
                  <a routerLink=""> Campanhas </a>
                  <a routerLink=""> Sair </a>
               </div>
            </li>
         </ul>
      </nav>
   </div>
</header>