<header>
   <div class="container">
      <a routerLink="/" class="logo">Campaign Manager</a>

      <nav>
         <ul>
            @if (userLoggedIn) {
               <li class="menu-container">
                  <a> Solturne </a>
                  <div class="menu">
                     <a routerLink=""> Perfil </a>
                     <a routerLink=""> Campanhas </a>
                     <a (click)="logout()"> Sair </a>
                  </div>
               </li>
            }
            @else {
               <li> <a routerLink="/auth" > Login </a> </li>
            }

         </ul>
      </nav>
   </div>
</header>