<!-- <header>
   <div class="d-flex justify-between items-center container py-6">
      <h3>
         <a routerLink="/home" class="logo text-decoration-none fw-bold text-primary">Ready, Dice, Roll</a>
      </h3>

      <nav>
         <a type="button" class="btn btn-primary" routerLink="/auth" > Sign In </a>
      </nav>
   </div>
</header> -->


<header>
   <div class="flex justify-between items-center container mx-auto py-6">
      <h3>
         <a routerlink="/home" class="logo text-3xl decoration-none font-bold">Ready, Dice, Roll</a>
      </h3>
      <nav>
         <a type="button" routerLink="/auth" class="inline-flex items-center duration-150 justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm bg-blue-500 hover:bg-blue-700 text-white"> Sign In </a>
      </nav>
   </div>
</header>