<app-header />

<div class="content">
   <div id="initial-frame" class="d-flex flex-column align-items-center gap-5">
      <div class="d-flex flex-column align-items-center justify-content-center min-vh-100 gap-3">
         <div class="d-flex flex-column align-items-center justify-content-center text-center gap-3">
            <img src="assets/icons/Logo=Default.png" alt="main logo">
            <h1 class="fs-3 fw-bold w-75 text-wrap text-center">The ultimate tabletop RPG campaign manager.</h1>
         </div>
         <div id="cta-buttons" class="d-flex flex-column align-items-center justify-content-center gap-2">
            <div class="d-flex align-items-center justify-content-center gap-3">
               <a type="button" class="btn btn-lg btn-primary" routerLink="/auth">Get Started</a>
               <a type="button" class="btn btn-lg btn-outline-primary">Learn More</a>
            </div>
            <div id="waitlist-opt" class="text-center">Want to be notified when the first version drops? <a href="#" class="fw-bold text-primary text-decoration-none">Join the waitlist!</a></div>
         </div>
      </div>
   </div>

   <div id="characteristics-frame" class="d-flex align-items-center justify-content-evenly">
      <div class="d-flex flex-column align-items-center justify-content-center text-center gap-3">
         <i class="bx bx-dice-roll bx-lg bx-tada-hover text-primary"></i> 
         <h3 class="fs-4 fw-bold text-center">Immersive</h3>
         <p class="text-center w-50 text-wrap">Manage your tabletop RPG campaigns with an intuitive interface, real-time session tracking, and character collaboration.</p>
      </div>
      
      <div class="d-flex flex-column align-items-center justify-content-center text-center gap-3">
         <i class="bx bx-trees bx-lg bx-wiggle-hover text-primary"></i>
         <h3 class="fs-4 fw-bold text-center">Powerful</h3>
         <p class="text-center w-50 text-wrap">Experience a dynamic skill tree system, live party updates, and character sheets — all in one place.</p>
      </div>
      
      <div class="d-flex flex-column align-items-center justify-content-center text-center gap-3">
         <i class="bx bx-reading bx-lg bx-bounce-hover text-primary"></i>
         <h3 class="fs-4 fw-bold text-center">Future-ready</h3>
         <p class="text-center w-50 text-wrap">Craft unforgettable adventures using tools built for longevity and flexibility. Say goodbye to messy spreadsheets.</p>
      </div>
   </div>
</div>

<app-footer />