<!-- <div style="height: 700px;">
  <ngx-graph 
    [links]="links" 
    [nodes]="nodes"

    layout="dagre"
    [layoutSettings]="{
      orientation: 'TB',
    }" >
    
    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" fill="#feca67" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'" tooltip="AAAAAAAA"
        [popover]="'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.'"
        [popoverTitle]="'Popover on top'"
        [placement]="'top'"
        title="TESTE" >

        <defs>
          <linearGradient id="passivaGradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="5%" stop-color="#184153" />
            <stop offset="95%" stop-color="#75524c" />
          </linearGradient>

          <linearGradient id="habilidadeGradient" x1="0" x2="0" y1="0" y2="1">
            <stop offset="5%" stop-color="#443ea0" />
            <stop offset="95%" stop-color="#7261a6" />
          </linearGradient>

          <linearGradient id="enH1daohyTW2-fill" x1="0.742227" y1="0.106802" x2="0.238" y2="0.901701" spreadMethod="pad" gradientUnits="objectBoundingBox" gradientTransform="translate(0 0)">
            <stop id="enH1daohyTW2-fill-0" offset="0%" stop-color="#184153"/>
            <stop id="enH1daohyTW2-fill-1" offset="100%" stop-color="#e7beac"/>
          </linearGradient>
          
          <linearGradient id="enH1daohyTW3-stroke" x1="0.021684" y1="0.978316" x2="0.978316" y2="0.021684" spreadMethod="pad" gradientUnits="objectBoundingBox" gradientTransform="translate(0 0)">
            <stop id="enH1daohyTW3-stroke-0" offset="0%" stop-color="#e3c806"/>
            <stop id="enH1daohyTW3-stroke-1" offset="100%" stop-color="#f1eabb"/>
          </linearGradient>
        </defs>

        <svg:g *ngIf="node.data.tipo === 'Passiva'" width="80" heigth="80" viewBox="0 0 82 82" 
          [popover]="'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.'"
          [popoverTitle]="'Popover on top'"
          [placement]="'top'" >
          <ellipse rx="100.805343" ry="100.805343" transform="matrix(.380198 0 0 0.380198 41 41.000001)" fill="url(#enH1daohyTW2-fill)" stroke-width="5" stroke-miterlimit="1"/>
          <ellipse rx="100.805343" ry="100.805343" transform="matrix(.397431 0 0 0.397431 41 41)" fill="none" stroke="url(#enH1daohyTW3-stroke)" stroke-width="3" stroke-miterlimit="1"/>
        </svg:g>

        <svg:rect *ngIf="node.data.tipo === 'Melhoria'" width="30" height="30"
          style="fill: white; stroke: gold; stroke-width: 3;" />

        <svg:rect *ngIf="node.data.tipo === 'Habilidade'" width="60" height="60"
          style="fill: url(#habilidadeGradient); stroke: gold; stroke-width: 3;" />

        <svg:rect *ngIf="node.data.tipo === 'Evolução'" width="80" height="80"
          style="fill: white; stroke: gold; stroke-width: 3;" />

      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)" stroke="#feca67"></svg:path>
        <svg:text class="edge-label" text-anchor="middle" fill="white" font-size="12">
          <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%" fill="white" >
            {{ link.label }}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div> -->

<div #cytoscapeContainer id="cy-container" style="height: 750px;"></div>