<div class="row vh-100">
   <div class="col-5 background-image"></div>

   <div class="col-7 p-3 d-flex flex-column justify-content-center align-items-center">
      <div class="content">
         <div class="auth-header mb-3 text-center">
            <img src="../../../../assets/icons/Logo=Default.png" alt="logo">
         </div>
   
         <div class="auth-body" style="min-width: 450px;">
            <div class="form-fields">
               @switch (step) {
                  @case (1) {
                     <form [formGroup]="loginForm" class="w-100 mb-4" data-bs-theme="dark">
                        <div class="row mb-3">
                           <div class="col">
                              <label for="loginEmailInput" class="form-label">E-mail</label>
                              <input type="email" id="loginEmailInput" class="form-control rounded-3" formControlName="EMAIL"
                                 [class.invalid]="EMAIL_LOGIN.invalid && (EMAIL_LOGIN.touched || EMAIL_LOGIN.dirty)">
                           </div>
                        </div>

                        <div class="row mb-3">
                           <div class="col">
                              <label for="loginPasswordInput" class="form-label">Senha</label>
                              <input type="password" id="loginPasswordInput" class="form-control mb-1 rounded-3" formControlName="SENHA"
                                 [class.invalid]="SENHA_LOGIN.invalid && (SENHA_LOGIN.touched || SENHA_LOGIN.dirty)">

                              <a type="button" class="fw-bold cursor-pointer text-decoration-none text-primary">Esqueceu sua senha?</a>
                           </div>
                        </div>

                        <div class="row mb-4">
                           <div class="col">
                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
                                 <label class="form-check-label" for="switchCheckChecked">Checked switch checkbox input</label>
                              </div>
                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch" id="loginRememberSwitch" formControlName="REMEMBER_ME">
                                 <label class="form-check-label" for="loginRememberSwitch">Lembre-se de mim</label>
                              </div>
                           </div>
                        </div>

                        <button type="submit" class="btn btn btn-primary log-btn w-100 rounded-3 d-flex align-items-center justify-content-center gap-3"
                           [disabled]="loading" (click)="login()">
                           @if (loading) { <div class="spinner-border" role="status"> <span class="visually-hidden">Logando...</span> </div> }
                           @else { LOGIN <i class="bx bx-chevron-right"></i>  }
                        </button>
                     </form>

                     <span>É novo por aqui? <a class="text-primary text-decoration-none fw-bold cursor-pointer" (click)="step = 2">Crie uma conta aqui</a></span>
                  }
                  @case (2) {
                     <form [formGroup]="signinForm" class="w-100 mb-4" data-bs-theme="dark">
                        <div class="row mb-3">
                           <div class="col">
                              <label for="signinUsernameInput" class="form-label">Usuário</label>
                              <input type="text" id="signinUsernameInput" class="form-control rounded-3" formControlName="USERNAME"
                                 [class.invalid]="USERNAME_SIGNIN.invalid && (USERNAME_SIGNIN.touched || USERNAME_SIGNIN.dirty)">
                           </div>
                        </div>

                        <div class="row mb-3">
                           <div class="col">
                              <label for="signinEmailInput" class="form-label">E-mail</label>
                              <input type="email" id="signinEmailInput" class="form-control rounded-3" formControlName="EMAIL"
                                 [class.invalid]="EMAIL_SIGNIN.invalid && (EMAIL_SIGNIN.touched || EMAIL_SIGNIN.dirty)">
                           </div>
                        </div>

                        <div class="row mb-3">
                           <div class="col">
                              <label for="signinPasswordInput" class="form-label">Senha</label>
                              <input type="password" id="signinPasswordInput" class="form-control rounded-3" formControlName="SENHA"
                                 [class.invalid]="SENHA_SIGNIN.invalid && (SENHA_SIGNIN.touched || SENHA_SIGNIN.dirty)">
                           </div>
                        </div>

                        <div class="row mb-3">
                           <div class="col">
                              <label for="signinConfirmPasswordInput" class="form-label">Confirmar senha</label>
                              <input type="password" id="signinConfirmPasswordInput" class="form-control rounded-3" formControlName="CONFIRM_SENHA"
                                 [class.invalid]="CONFIRM_SENHA_SIGNIN.invalid && (CONFIRM_SENHA_SIGNIN.touched || CONFIRM_SENHA_SIGNIN.dirty)">
                           </div>
                        </div>

                        <div class="row mb-4">
                           <div class="col">
                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch" id="signinRememberSwitch" formControlName="REMEMBER_ME" >
                                 <label class="form-check-label" for="signinRememberSwitch">Lembre-se de mim</label>
                              </div>
                           </div>
                        </div>
      
                        <button type="submit" class="btn btn btn-primary log-btn w-100 rounded-3 d-flex align-items-center justify-content-center gap-3"
                           [disabled]="loading" (click)="createUser()">
                           @if (loading) { <div class="spinner-border" role="status"> <span class="visually-hidden">Logando...</span> </div> }
                           @else { CRIAR CONTA <i class="bx bx-chevron-right"></i> }
                        </button>
                     </form>

                     <span>Já tem uma conta? <a class="text-primary text-decoration-none fw-bold cursor-pointer" (click)="step = 1">Entre aqui</a></span>
                  }
                  @case (3) {

                  }
               }
            </div>
         </div>
      </div>
   </div>
</div>
