.background-image {
   background-image: url("../../../../assets/images/dice-unsplash.jpg");
   background-size: cover;
   background-position: center;

   border-radius: 12px;
}

.log-btn {
   height: 48px;
}

.form-fields {
   display: flex;
   flex-direction: column;
   align-items: center;
}
