.btn {
   padding: 1rem;
   // width: 100%;
   text-align: center;
   
   border: none;
   border-radius: 12px;

   transition: all .2s ease;
}

.btn-primary {
   background-color: $color-primary-a10;
   color: $text-light;

   &:hover, &::selection {
      background-color: darken($color: $color-primary-a10, $amount: 10);
   }
}
.btn-outline-primary {
   background-color: transparent;
   border: 1px solid $color-primary-a10;
   color: $color-primary-a10;

   &:hover, &::selection {
      background-color: $color-primary-a10;
      color: $text-light;
   }
}