input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"] {
  height: 42px !important;
  border-radius: 6px;
  border: 1px solid var(--base-dark-lighten2);
  background-color: var(--base-dark-lighten2);

  &:focus {
    background-color: var(--base-dark-lighten3) !important;
    border: 1px solid transparent !important;
    box-shadow: none;
  }

  &[disabled] {
    background-color: var(--base-dark-darken) !important;
    cursor: not-allowed;
  }
}

input[type="checkbox"] {
  border: 1px solid var(--base-dark-lighten2);
  background-color: var(--base-dark-lighten2);

  &:focus {
    border: 1px solid transparent !important;
    box-shadow: none;
  }

  &[disabled] {
    background-color: var(--base-dark-lighten2) !important;
    cursor: not-allowed;
  }
}