html, body, app-root {
  height: 100%;
}

body {
  font-family: var(--font-family-base, sans-serif);
  line-height: 1.5;
  color: #ece8f3 !important;

  /* Caso precise do "fix" de overflow */
  /* overflow: hidden; */
}
