* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body, app-root {
  height: 100%;
}

body {
   font-family: $font-family-base;
   line-height: 1.5;
   color: #ece8f3 !important;

   // Isto resolve o problema de criar um espaço em branco fantasma no bottom e right do corpo
   // overflow: hidden;
}
