* {
   margin: 0 !important;
   padding: 0;
   box-sizing: border-box;
}
html, body, app-root {
  height: 100%;
}

body {
   font-family: $font-family-base;
   line-height: 1.5;
   color: #ece8f3 !important;
}
