.cursor-pointer { cursor: pointer; }

.border-top-rounded { border-radius: 2rem 2rem 0 0; }

// .width-25 { width: 25% !important; }
// .width-50 { width: 50% !important; }
// .width-75 { width: 75% !important; }
// .width-100 { width: 100% !important; }

// .text-center { text-align: center; }

// .d-flex { display: flex; }
// .flex-row { flex-direction: row; }
// .flex-column { flex-direction: column; }

// .align-items-start { align-items: start; }
// .align-items-center { align-items: center; }
// .align-items-end { align-items: end; }

// .justify-content-start {
//    justify-content: start;
// }
// .justify-content-center {
//    justify-content: center;
// }
// .justify-content-end {
//    justify-content: end;
// }
// .justify-content-around {
//    justify-content: space-around;
// }
// .justify-content-between {
//    justify-content: space-between;
// }
// .justify-content-evenly {
//    justify-content: space-evenly;
// }
