/** Dark theme primary colors */
$color-primary-a0: #22095d;
$color-primary-a10: #3c226e;
$color-primary-a20: #553b80;
$color-primary-a30: #6c5491;
$color-primary-a40: #846fa3;
$color-primary-a50: #9c8ab5;

/** Dark theme surface colors */
$color-surface-a0: #080c1b;
$color-surface-a10: #212430;
$color-surface-a20: #383b46;
$color-surface-a30: #52545e;
$color-surface-a40: #6c6e77;
$color-surface-a50: #878990;

/** Dark theme mixed surface colors */
$color-surface-mixed-a0: #0e0d21;
$color-surface-mixed-a10: #242436;
$color-surface-mixed-a20: #3c3b4c;
$color-surface-mixed-a30: #555463;
$color-surface-mixed-a40: #6f6e7b;
$color-surface-mixed-a50: #8a8994;

/** Alternativa para texto principal (mais claro, para melhor contraste) */
$text-light: #ece8f3;

$font-family-base: "Quicksand", "sans-serif";

$spacer: 1rem; // Base para espaçamentos
$border-radius: 4px;
