$font-family-base: "Quicksand", "sans-serif";

$spacer: 1rem; // Base para espaçamentos
$border-radius: 4px;


// Paleta de cores
$background-main: #070F2B;
$secondary-bg: #1B1A55;
$accent-color: #535C91;
$text-secondary: #9290C3;

// Alternativa para texto principal (mais claro, para melhor contraste)
$text-primary: #FFFFFF;