<!-- <footer>
   <div class="container d-flex items-center justify-between">
      <div class="col-span-3 d-flex items-center gap-2">
         <img src="assets/icons/Logo=Default.png" alt="Logo em cor primária" height="40">
         <span class="fs-5">Ready, Dice, Roll</span>
      </div>

      <div class="col-span-3">
         <a href="https://github.com/s0lturn3" class="text-primary">Solturne</a> | Todos os direitos reservados
      </div>

      <div class="col-span-3 text-center">
         <a href="https://github.com/s0lturn3/ready-dice-roll" class="text-primary"> ÍCONE </a>
      </div>
   </div>
</footer> -->


<footer class="">
   <div class="container mx-auto flex items-center justify-evenly">
      <div class="w-1/2 flex items-center justify-center gap-2">
         <img src="assets/icons/Logo=Default.png" alt="Logo em cor primária" class="h-[40px]">
         <span class="text-lg">Ready, Dice, Roll</span>
      </div>

      <div class="w-1/2 text-center">
         <a href="https://github.com/s0lturn3" class="text-blue-500">Solturne</a> | Todos os direitos reservados
      </div>

      <div class="w-1/2 text-center">
         <a href="https://github.com/s0lturn3/ready-dice-roll" class="text-blue-500 text-[24px]">
            <i class="bxl bx-github"></i>
         </a>
      </div>
   </div>
</footer>
