<footer>
   <div class="container d-flex align-items-center justify-content-between">
      <div class="col-3 d-flex align-items-center gap-2">
         <img src="assets/icons/Logo=Default.png" alt="Logo em cor primária" height="40">
         <span class="fs-5">Ready, Dice, Roll</span>
      </div>

      <div class="col-3">
         <a href="https://github.com/s0lturn3" class="text-primary">Solturne</a> | Todos os direitos reservados
      </div>

      <div class="col-3 text-center">
         <a href="https://github.com/s0lturn3/ready-dice-roll" class="text-primary"> ÍCONE </a>
      </div>
   </div>
</footer>
