footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  position: relative;
  bottom: 0;
  width: 100%;

  margin-top: 5rem;
}

footer .container {
  height: 100px;
}

footer::before {
  content: "";
  display: block;
  width: 90%;
  border-top: 1px solid var(--white);
  opacity: 0.5;
}

footer a {
  font-weight: bold;
  text-decoration: none;
}
