@use "../../styles/themes" as themes;
@import "../../../shared/styles/variables";

footer {
   // text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 18px;

   .container {
      height: 100px;
   }

   &::before {
      content: "";
      display: block;
      width: 90%;
      border-top: 1px solid themes.$white;
      opacity: 50%;
   }

   a {
      font-weight: bold;
      text-decoration: none;
   }
}