<aside class="sidebar collapsed">
  <header class="sidebar-header">
    <a href="#" class="header-logo">
      <img src="../../../assets/icons/Logo=White.png" alt="Me">
    </a>
    <button class="toggler sidebar-toggler">
      <i class='bx  bx-chevron-left'  ></i>
    </button>
    <button class="toggler menu-toggler">
      <i class='bx  bx-menu'  ></i> 
    </button>
  </header>

  <nav class="sidebar-nav">
    <ul class="nav-list primary-nav">
      <li class="nav-item">
        <a routerLink="/manager/dashboard" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-dashboard-alt'  ></i> 
          <span class="nav-label">Dashboard</span>
        </a>
        <span class="nav-tooltip">Dashboard</span>
      </li>
      <li class="nav-item">
        <a routerLink="/manager/campaigns" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-note-book'></i>
          <span class="nav-label">Campanhas</span>
        </a>
        <span class="nav-tooltip">Campanhas</span>
      </li>
      <li class="nav-item">
        <a routerLink="/manager/systems" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-cube-inside'  ></i> 
          <span class="nav-label">Sistemas</span>
        </a>
        <span class="nav-tooltip">Sistemas</span>
      </li>
      <li class="nav-item">
        <a routerLink="/manager/systems" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-note'></i>
          <span class="nav-label">Notas</span>
        </a>
        <span class="nav-tooltip">Notas</span>
      </li>
      <li class="nav-item">
        <a routerLink="/manager/systems" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-database'></i>
          <span class="nav-label">Outros</span>
        </a>
        <span class="nav-tooltip">Outros</span>
      </li>
      <li class="nav-item">
        <a routerLink="/manager/settings" routerLinkActive="router-link-active" class="nav-link">
          <i class='bx  bx-cog'></i>
          <span class="nav-label">Settings</span>
        </a>
        <span class="nav-tooltip">Settings</span>
      </li>
    </ul>

    <ul class="nav-list secondary-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <img class="rounded-circle" src="../../../assets/images/perfil3.jpg" width="24px" height="24px" alt="Me">
          <!-- <box-icon name="user" color="currentColor" style="min-width: 24px;"></box-icon> -->
          <span class="nav-label">{{ loggedUser ? loggedUser : "Perfil" }}</span>
        </a>
        <span class="nav-tooltip">{{ loggedUser ? loggedUser : "Perfil" }}</span>
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link">
          <i class='bx  bx-arrow-out-left-square-half'  ></i> 
          <span class="nav-label">Logout</span>
        </a>
        <span class="nav-tooltip">Logout</span>
      </li>
    </ul>
  </nav>
</aside>


<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- <p>dashboard works!</p>
<skill-tree></skill-tree> -->